# Core
fastapi
uvicorn
python-dotenv
pydantic
typing-extensions
itsdangerous
sentence-transformers


# LangChain + Vector DB
langchain
langchain-community
langchain-huggingface
chromadb

# Google OAuth
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Utils
requests
